.Side-bar
  .Side-bar__user-name
    .Side-bar__user-name__top-items
      .Side-bar__user-name__top-items__name
        nm
      .Side-bar__user-name__top-items__icon
        = link_to "#" do
          = icon('far', 'edit', class: "Side-bar__user-name__top-items__icon__btn")
          %span<>
        = link_to "#" do
          = icon('fa', 'cog', class: "Side-bar__user-name__top-items__icon__btn")
          %span<>
  .Side-bar__group-list
    .Side-bar__group-list__items
      .Side-bar__group-list__items__title
        techcamp
      .Side-bar__group-list__items__message
        まだメッセージはありません
    .Side-bar__group-list__items
      .Side-bar__group-list__items__title
        techcamp
      .Side-bar__group-list__items__message
        まだメッセージはありません